{% extends 'manage/base.html.twig' %}

{% block title %}Список пользователей{% endblock %}
{% block page_script %}
    <script src="js/users.js"></script>
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Страницы</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page"><a class="opacity-5 text-white" href="/manage">Панель</a></li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Список пользователей</h6>
    </nav>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 p-md-4 p-sm-2">
                <div class="row">
                    <form id="users-search" action="/manage/user/list" method="get">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Поиск и фильтр</label>
                            <input class="form-control" name="query" type="text" value="{{ query }}" placeholder="email">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="row">
                                <div class="card-header pb-0 col-10">
                                    <h6>Список пользователей</h6>
                                </div>
                                <div class="card-header col-2">
                                    <a href="/manage/user/create"><button type="button" class="btn btn-info btn-sm mb-0">Создать</button></a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="table-responsive">
                                    <form action="#" method="post">
                                    <table class="table align-items-center mb-0 js-list">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 ps-4"></th>
                                                <th class="text-secondary opacity-7 ps-4 w-20"></th>
                                                <th class="text-secondary opacity-7 ps-4 w-10"></th>
                                                <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 ps-4">ID</th>
                                                <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                                                <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Имя</th>
                                                <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Роль</th>
                                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Верифицирован</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in elements %}
                                            <tr data-id="{{ item.id }}">
                                                <td class="align-middle">
                                                    <span class="text-xs text-secondary mb-0">#{{ loop.index }}</span>
                                                </td>
                                                <td class="align-middle">
                                                    <button type="button" class="btn btn-danger btn-sm mb-0 js-delete-el" data-link="/manage/user/delete/" data-id="{{ item.id }}">Удалить</button>
                                                    <button type="button" class="btn btn-warning btn-sm mb-0 js-edit-el"  data-link="/manage/user/edit/" data-id="{{ item.id }}">Править</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class=" form-check form-check-info text-start">
                                                        <input type="checkbox" class="form-check-input js-select-el">
                                                    </div>
                                                </td>
                                                <td class="align-middle text-left ps-4">
                                                    <span class="text-secondary text-xs font-weight-bold">{{ item.id }}</span>
                                                </td>
                                                <td class="align-middle text-left">
                                                    <span class="text-primary text-sm">{{ item.email }}</span>
                                                </td>
                                                <td class="align-middle text-left">
                                                    <p class="text-xs font-weight-bold mb-0">{{ item.name }}</p>
                                                    <p class="text-xs text-secondary mb-0">{{ item.lastName }}</p>
                                                </td>
                                                <td class="align-middle text-left">
                                                    <span class="text-primary text-sm">{{ item.getRoles()|join(', ') }}</span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    {% if item.isVerified() %}
                                                        <span class="badge badge-sm bg-gradient-primary">Подтвержден</span>
                                                    {% else %}
                                                        <span class="badge badge-sm bg-gradient-secondary">Неизвестно</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td class="text-right text-secondary text-lg font-weight-bolder opacity-7 ps-4">Выбрать всех</td>
                                                <td class="align-middle">
                                                    <div class=" form-check form-check-info text-start">
                                                        <input type="checkbox" class="form-check-input js-select-all">
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
